* {
  font: 48px Arial;
}

body {
  padding-bottom: 20px;
  position: relative;
}

#movie {
  max-width: 800px;
  margin: 0 auto;
}

#movie div {
  text-align: center;
  margin: 10px auto;
}

body#movie_page #movie { display: block; }

#movie { display: none; }

#movie-title-block {
  padding: 40px 0;
}

#movie-proba-block {
  padding: 20px 0;
  font-size: 24px;
}
#movie-proba {
  display: block;
}

.movie-title {
  font: 48px Arial;
}

button {
  width: 300px;
  height: 80px;
  background: blue;
  color: white;
  border: 0;
  cursor: pointer;
  display: block;
  margin: 10px auto;
  padding: 10px;
}

div#accuracy {
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  position: absolute;
  bottom: 10px;
}
